/* Estilos para a página de coleta de depoimentos */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c6c6c6;
    color: #333;
}

header {
    background-color:  #0b412c;;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #bce974;
}

main {
    padding: 20px;
}

/* Estilos do formulário */
.form-section {
    background-color:  #0b412c;;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-section h2 {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #bce974;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    background-color: #235735;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

form button:hover {
    background-color: #bce974;
}

/* Estilos dos depoimentos */
.testimonials-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonials-section h2 {
    margin-bottom: 10px;
}

.testimonial {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.testimonial p {
    margin: 0;
}

.testimonial h3 {
    margin-top: 0;
}
